/* page10 */
.page10{
    background-color: #92ab8f;
}

/* FIXED */
.fixed_box > span {
    font-size: 45px;
    position: relative;
    top: 43px;
    left: 13%;
}
.worksname > li{
    background-color: #92ab8f;
}