/* page10 */
.page12{
    background-color: #f8d7de;
}

/* FIXED */
.fixed_box > span {
    font-size: 50px;
    position: relative;
    top: 40px;
    left: 29%;
}
.worksname > li{
    background-color: #f8d7de;
}

/* CONTENT */
.webdesign_wrap{
    width: 75%;
}
.webdesign_wrap .web_cons{
    background:url(../images/p10_bg2.png) no-repeat;
    width: 734px;
    height: 858px;
    margin: 50px auto;
    background-position: center;
    position: relative;
}
.webdesign_wrap .web_cons .web_cons_wrap{
    width: 477px;
    height: 477px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.webdesign_wrap .web_cons .self > img{
    position: relative;
}
.web_cons_wrap > img{
    width: 477px;
    height: 477px;
    position: relative;
    top: 0;
    left: 0;
}
.web_cons_wrap > a {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 477px;
    color: #3b3a37;

    transition: all 0.2s;
}
.renewal > a{
    color: #3b3a37;
}
.web_cons_wrap.HMM > a{
    color: #faf5ea;
}
.web_cons_wrap > a:hover {
    background-color: black;
    opacity: 90%;
    color: #faf5ea;
}
.web_cons > p {
    display: block;
    width: 80%;
    overflow: hidden;

    font-size: 35px;
    text-align: center;

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}