/* color : #faf5ea(배경색), #3b3a37(글자색), 92ab8f(초록), f8d7de(분홍), f6ef87(노랑) */

/* 글자 폰트 */
/* font-family: 'Dongle', sans-serif, monospace; 본문체 
    / font-family: 'Black Han Sans', sans-serif, monospace;강조체 */

    html, body{
        height: 100%;
        font-size: 30px;
        color: #3b3a37;
        font-family: 'Dongle', sans-serif, monospace;
        box-sizing: border-box;
    }
    a{
        color: #3b3a37;
        font-family: 'Dongle', sans-serif, monospace;
        text-decoration: none;
    }
    img{
        display:  block;
    }
    body{
        overflow: hidden;
    }
    
    /* page1 */
    #page1 {
        background: url(../images/p1_bg.png) no-repeat top / cover;
        background-position-y: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
    #opening{
        background: url(../images/p1_bg_main.png) no-repeat top / cover;
        height: 1920px;
        width: 1000px;
        height: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .typing-text{
        display: none;
        width: 60%;
        height: 350px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        /* background-color: crimson; */
    }
    .typing {
        font-size: 75px;
        font-weight: bold;
        line-height: 80px;
        text-align: center;
    }
    .typing{
        display: inline-block;
        /* 커서 보이기 위해서는 넓이, 높이값 필요함 */
        position: relative;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        animation: cursor 0.8s infinite;
    }
    
    .element01 {
        position: absolute;
        bottom: -30px;
        right: -70px;
    }
    .element02{
        width: 200px;
        height: 78px;
        position: absolute;
        top: -75px;
        bottom: 0;
    
        /* background-color: cornflowerblue; */
    }
    .element02 > li{
        float: left;
        margin-left: 7px;
    }
    .cuc_animation{
        animation: cuc 2s infinite;
    }
    .pot_animation{
        animation: pot 1.7s infinite;
    }
    /* page1 animation */
    
    @keyframes cuc{
        0%, 100%{
            transform: rotate(5deg);
        }
        50%{
            transform: rotate(-5deg);
        }
    }
    
    @keyframes pot {
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-bottom: -10px;
        }
    }
    
    @keyframes cursor{
        0%{
            border-right: 3px solid #faf5ea;
        }
        25%{
            border-right: 3px solid #3b3a37;
        }
        50%{
            border-right: 3px solid #faf5ea; 
        }
        75%{
            border-right: 3px solid #3b3a37;
        }
        100%{
            border-right: 3px solid #faf5ea; 
        }
    }
    
    /* nav */
    header{
        width: 90px;
        height: 100%;
        background-color: #faf5ea80;
        box-shadow: 0 0 15px #333;
        position: fixed;
        top: 0; left: 0; bottom:0;
        
        z-index: 999;
    }
    nav{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .logo{
        display: block;
        width: 100%;
        height: 90px;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 80px;
        text-align: center;
    
        /* background-color: aquamarine; */
    }
    .navlist{
        width: 100%;
        height: 35%;
    
        position:absolute;
        bottom:30%;
        
        /* background-color: cornflowerblue; */
    }
    .navlist > li {
        width: 100%;
        height: 25%;
    }
    .navlist a{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 80px;
        text-align: center;
        
        /* background-color: coral; */
    }
    nav > p {
        display: block;
        width: 100%;
        height: 90px;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 16px;
        line-height: 90px;
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    
    /* 공통 */
    .pinkbg{
        background: url(../images/p2_bg.png) no-repeat;
        width: 100%;
        height: 100%;
    }
    .w62{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        
        /* background-color: cornflowerblue; */
    }
    /* about_wrap */
    #w_align{
        width: 300%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    #w_align::after{
        content: "";
        display: block;
        clear: both;
    }
    /* page2 */
    #page2{
        width: 33.33%;
        height: 100%;
        float: left;
        /* position: absolute;
        top: 0;
        left: 0; */

    }
    #hello{
        width: 66.66%;
        height: 100%;
        float: left;
        position: relative;
    
        /* background-color: darkolivegreen; */
    }
    #hello > img:nth-child(1){
        position: absolute;
        bottom: 5px;
        right: 0;
    
        /* background-color: rgb(255, 157, 11); */
    }
    #hello > img:nth-child(2){
        position: absolute;
        top: 25%;
        right: 0;
        /* transform: translate(-50%, -50%); */
    }
    #hello > .wrap_cac{
        position: absolute;
        bottom: 0;
        left: 0;
    
        /* background-color: aquamarine; */
    }
    .wrap_cac > img:nth-child(1){
        position: absolute;
        bottom: 50%;
        right: -20%;
    }
    .wrap_cac > img:nth-child(2){
        position: absolute;
        bottom: 35%;
        right: -30%;
    }
    .wrap_cac > img:nth-child(3){
        position: absolute;
        top: 15%;
        left: 0%;
    }
    .wrap_cac > img:nth-child(4){
        position: absolute;
        bottom: 15%;
        left: 0%;
    }
    .wrap_cac > img:nth-child(5){
        position: absolute;
        bottom: 5%;
        left: 30%;
        z-index: 5;
    }
    .heart_ani_1{
        animation: heartswing 2s infinite linear;
    }
    .heart_ani_2{
        animation: heartswingTwo 1.2s infinite linear;
    }
    #introduce{
        background: url(../images/p2_bg_02.png) no-repeat;
        background-position: right;
        background-size: contain;
    
        width: 33.33%;
        height: 100%;
        float: right;
        position: relative;
    
        /* background-color: indianred; */
    }
    #introduce > p{
        width: 250px;
    
        position: absolute;
        top: 25%;
        right: 6%;
    
        /* background-color: burlywood; */
    }
    #introduce > p::before{
        content: "";
        display: block;
        width: 60px;
        border-top: 5px solid #3b3a37;
        margin-bottom: 50px;
    }
    .cuc_rotY{
        animation: ratateY2 1.5s infinite;
    }
    
    
    /* page2 애니메이션 */
    
    @keyframes heartswing {
        0%, 100%{
            transform: rotate(-30deg);
        }
        50%{
            transform: rotate(30deg);
        }
    }
    
    @keyframes heartswingTwo {
        0%, 100%{
            transform: rotate(30deg);
        }
        50%{
            transform: rotate(-30deg);
        }
    }
    
    @keyframes ratateY2{
        0%, 100%{
            transform: rotateX(20deg);
        }
        50%{
            transform: rotateX(-20deg);
        }
    }
    
    /* page3 */
    #page3{
        width: 33.33%;
        height: 100%;
        /* position: absolute;
        left: 33.33%; */
    
        float: left;
    }
    #strength{
        width: 100%;
        height:50%;
        position: relative;
    
        /* background-color: rgb(251, 151, 171); */
    }
    .s_wrap{
        width: 50%;
    
        position: absolute;
        bottom: 20% ;
        right: 10%;
    
        /* background-color: darkgrey; */
    }
    .s_wrap > h3{
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .s_wrap > p {
        margin-left: 10%;
        text-align: justify;
    }
    #strength > .img_wrap{
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 5;
    
        /* background-color: aquamarine; */
    }
    #strength > .img_wrap > img:nth-child(1) {
        /* width: 270px; */
        height: 500px;
    }
    #strength > .img_wrap > img:nth-child(2){
        position: absolute;
        bottom: 38%;
        left: 10%;
    
        /* background-color: khaki; */
    }
    #strength > .img_wrap > img:nth-child(3){
        position: absolute;
        bottom: 30%;
        left: 30%;
    
        /* background-color: khaki; */
    }
    .ani1{
        animation: strAni 1.2s infinite;
    }
    .ani2{
        animation: strAni2 1.8s infinite;
    }
    .ani3{
        animation: strAni3 1.8s infinite;
    }
    #weaknesses{
        width: 100%;
        height: 50%;
        position: relative;
        bottom: 0;
        left: 0;
    
        /* background-color: rgb(237, 147, 165); */
    }
    .w_wrap{
        width: 50%;
    
        position: absolute;
        bottom: 20% ;
        left: 10%;
    
        /* background-color: darkgrey; */
    }
    .w_wrap > h3{
        text-align: right;
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .w_wrap > p {
        margin-right: 10%;
        text-align: justify;
    }
    #weaknesses > .img_wrap{
        position: absolute;
        top: 5%;
        right: -5%;
        z-index: 5;
    
        /* background-color: aquamarine; */
    
    }
    #weaknesses > .img_wrap > img:nth-child(1) {
        width: 460px;
    }
    #weaknesses > .img_wrap > img:nth-child(2){
        position: absolute;
        bottom: 0%;
        left: 0%;
    
        /* background-color: khaki; */
    }
    #weaknesses > .img_wrap > img:nth-child(3){
        position: absolute;
        top: 10%;
        right: 25%;
    
        /* background-color: khaki; */
    }
    
    /* page3 animation */
    @keyframes strAni {
        0%, 100% {
            margin-top: 20px;
        }
        50% {
            margin-bottom: -20px;
        }
    }
    
    @keyframes strAni2 {
        0%, 100% {
            margin-top: 30px;
        }
        50% {
            margin-bottom: -30px;
        }
    }
    @keyframes strAni3{
        0%, 100%{
            margin-top: 50px;
        }
        50%{
            margin-top: -50px;
        }
    }
    
    
    /* page4 */
    #page4{
        width: 33.33%;
        height: 100%;
        /* position: absolute;
        left: 33.33%; */
    
        float: left;
    }
    #opportunities{
        width: 100%;
        height:50%;
        position: relative;
    
        /* background-color: rgb(251, 151, 171); */
    }
    .o_wrap{
        width: 50%;
    
        position: absolute;
        bottom: 20% ;
        right: 10%;
    
        /* background-color: darkgrey; */
    }
    .o_wrap > h3{
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .o_wrap > p {
        margin-left: 10%;
        text-align: justify;
    }
    #opportunities > .img_wrap{
        position: absolute;
        top: 5%;
        left: 0%;
        z-index: 5;
    
        /* background-color: aquamarine; */
    }
    #opportunities > .img_wrap > img {
        /* width: 270px; */
        height: 500px;
    }
    #threats{
        width: 100%;
        height: 50%;
        position: relative;
        bottom: 0;
        left: 0;
    
        /* background-color: rgb(237, 147, 165); */
    }
    .t_wrap{
        width: 50%;
    
        position: absolute;
        bottom: 20% ;
        left: 10%;
    
        /* background-color: darkgrey; */
    }
    .t_wrap > h3{
        text-align: right;
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .t_wrap > p {
        margin-right: 10%;
        text-align: justify;
    }
    #threats > .img_wrap{
        position: absolute;
        top: 5%;
        right: -5%;
        z-index: 5;
    
        /* background-color: aquamarine; */
    
    }
    #threats > .img_wrap > img:nth-child(1) {
        width: 460px;
    }
    #threats > .img_wrap > img:nth-child(2){
        position: absolute;
        top: -70px;
        right: 110px;
    
        /* background-color: khaki; */
    }
    #threats > .img_wrap > img:nth-child(3){
        position: absolute;
        top: -70px;
        right: 50px;
    
        /* background-color: khaki; */
    }
    .tani{
        animation: tanimation 2s infinite;
    }
    
    /* page4 animation */
    @keyframes tanimation {
        0%, 100% {
            transform: rotate(20deg);
        }
        50% {
            transform: rotate(-20deg);
        }
    }
    
    /* page5 */
    #page5{
        background: url(../images/p5_bg.png) no-repeat;
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 200%;
        left: 200%;
    }
    #battery{
        width: 75%;
        height: 100%;
        float: left;
    
        /* background-color: rgba(48, 47, 38, 0.575); */
    }
    .battery_wrap{
        width: 100%;
        height: 16.6%;
    
        /* background-color: rgb(215, 164, 189); */
    }
    .battery_wrap > p{
        width: 33.3%;
        height: 80px;
        line-height: 85px;
        text-align: center;
        color: #92ab8f;
        font-size: 45px;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.65);
        font-family: 'Black Han Sans', sans-serif, monospace ;
        margin-top: 40px;
        float: left;
        
        /* background-color: azure; */
    }
    .battery_box{
        width: 60%;
        overflow: hidden;
        float: right;
        margin-top: 20px;
        /* margin-right: 30px; */
        position: relative;
    
        /* background-color: aliceblue; */
    }
    .battery_box > span{
        position: absolute;
        top: 54%;
        left: 14%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        font-weight: bold;
        color: #faf5ea;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    }
    /* .battery_box > img{
        animation: pumping 2s infinite;
    } */
    .wave{
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: 13px;
        left: 13px;
        border-radius: 10px;
        
        /* background-color: rgb(255, 98, 0); */
    }
    .betterywave {
        width: 63%;
        animation: waveBlue 2s infinite;
        opacity: 80%;
        transition: all 2s linear;
    }
    .betterywave2{
        width: 61%;
        display: block;
        position: relative;
        top: -390px;
        left: 0;
        transition: all 5s linear;
        /* background-color: blueviolet; */
    
        animation: waveSkyblue 2s infinite;
    }
    .betterywave1122{
        width: 59%;
        display: block;
        position: relative;
        top: -700px;
        left: 0;
        transition: all 5s linear;
        /* background-color: blueviolet; */
    
        animation: waveSkyblue 2s infinite;
    }
    .betterywave3 {
        width: 62%;
        top: 400%;
        animation: waveyell 2s infinite;
        transition: all 1s linear;
    }
    .betterywave4{
        display: block;
        position: relative;
        width: 61%;
        top: -400px;
        left: 0;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveorg 2s infinite;
    }
    .betterywave34{
        display: block;
        position: relative;
        width: 57%;
        top: -630px;
        left: 0;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveorg 2s infinite;
    }
    .betterywave5 {
        width: 60%;
        position: relative;
        left: -25px;
        animation: wavered 2s infinite;
        opacity: 80%;
        transition: all 1s linear;
    }
    .betterywave6{
        width: 63%;
        display: block;
        position: relative;
        top: -300px;
        left: -25px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveyellowred 2s infinite;
    }
    .betterywave56{
        width: 56%;
        display: block;
        position: relative;
        top: -600px;
        left: -25px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveyellowred 2s infinite;
    }
    .betterywave7 {
        width: 62%;
        position: relative;
        left: -25px;
        animation: wavepup 2s infinite;
        opacity: 80%;
        transition: all 1s linear;
    }
    .betterywave8{
        width: 65%;
        display: block;
        position: relative;
        top: -350px;
        left: -25px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: wavepupple 2s infinite;
    }
    .betterywave78{
        width: 58%;
        display: block;
        position: relative;
        top: -590px;
        left: -25px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: wavepupple 2s infinite;
    }
    .betterywave9 {
        width: 65%;
        animation: wavegreen 2s infinite;
        opacity: 80%;
        transition: all 1s linear;
    }
    .betterywave10{
        width: 63%;
        display: block;
        position: relative;
        top: -330px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveyellowgreen 2s infinite;
    }
    .betterywave910{
        width: 60%;
        display: block;
        position: relative;
        top: -600px;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveyellowgreen 2s infinite;
    }
    .betterywave11 {
        width: 65%;
        animation: waveBlue2 3s infinite;
        opacity: 80%;
        transition: all 1s linear;
    }
    .betterywave12{
        width: 63%;
        display: block;
        position: relative;
        top: -300px;
        left: 0;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveSkyblue2 2s infinite;
    }
    .betterywave13{
        width: 60%;
        display: block;
        position: relative;
        top: -610px;
        left: 0;
        transition: all 2s linear;
        /* background-color: blueviolet; */
    
        animation: waveSkyblue2 2s infinite;
    }
    #certification{
        width: 25%;
        height: 100%;
        float: right;
    
        /* background-color: rgb(184, 245, 247); */
    }
    .cer_line{
        width: 18%;
        height: 100%;
        float: left;
        background-color: #92ab8f;
        background-position: right;
        margin-left: 5px;
        box-sizing: border-box;
        
        overflow: hidden;
    }
    .cer_line span{
        color: #faf5ea;
    }
    .line1 span{
        animation: twinkle 1.5s infinite;
    }
    .line2 span{
        animation: twinkle 2s infinite;
    }
    .line3 span{
        animation: twinkle 2.5s infinite;
    }
    .line4 span{
        animation: twinkle 1s infinite;
    }
    .line5 span{
        animation: twinkle 3s infinite;
    }
    .cer_line ul{
        height: 100%;
    }
    .cer_line li{
        position: relative;
        width: 100%;
        display: inline-block;
        color: #3b3a37;
        line-height: 55px;
        writing-mode: vertical-rl;
    
        /* background-color:aqua ;*/
    }
    
    /* page5 animation */
   @keyframes twinkle{
    50%{
        opacity: 0;
    }
   }
    @keyframes waveBlue{
        0%, 100%{
            margin-top: -8px;
        }
        50%{
            margin-top: 0px;
        }
    }
    
    @keyframes waveSkyblue{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -6px;
        }
    }
    @keyframes waveyell{
        0%, 100%{
            margin-top: -10px;
        }
        50%{
            margin-top: 0px;
        }
    }
    
    @keyframes waveorg{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -10px;
        }
    }
    @keyframes wavered{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -5px;
        }
    }
    
    @keyframes waveyellowred{
        0%, 100%{
            margin-top: -5px;
        }
        50%{
            margin-top: 0px;
        }
    }
    @keyframes wavepup{
        0%, 100%{
            margin-top: -7px;
        }
        50%{
            margin-top: 0px;
        }
    }
    
    @keyframes wavepupple{
        0%, 100%{
            margin-top: -6px;
        }
        50%{
            margin-top: 0px;
        }
    }
    @keyframes wavegreen{
        0%, 100%{
            margin-top: -7px;
        }
        50%{
            margin-top: 0px;
        }
    }
    
    @keyframes waveyellowgreen{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -5px;
        }
    }
    @keyframes waveBlue2{
        0%, 100%{
            margin-top: -4px;
        }
        50%{
            margin-top: 0px;
        }
    }
    
    @keyframes waveSkyblue2{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -7px;
        }
    }
    
    /* page6 */
    .p6{
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 300%;
        left: 200%;
        background-color: #92ab8f;
    }
    #works{
        width: 100%;
        height: 100%;
        background: url(../images/p6_bg.png);
        position: relative;
    }
    #p6Wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        /* background-color: aliceblue; */
    }
    #p6Wrap img:nth-child(2) {
        position: absolute;
        top: 20px;
        left: 0;
    
        /* background-color: aqua; */
    }
    #p6Wrap img:nth-child(3) {
        height: 18px;
        position: absolute;
        bottom: 80px;
        left: 140px;
    
        /* background-color: aqua; */
    }
    #p6Wrap img:nth-child(4) {
        position: absolute;
        bottom: 20px;
        left: 390px;
        
        /* background-color: aqua; */
    }
    #p6Wrap img:nth-child(5) {
        height: 20px;
        position: absolute;
        top: 40px;
        right: 320px;
        
        /* background-color: aqua; */
    }
    #p6Wrap img:nth-child(6) {
        height: 18px;
        position: absolute;
        bottom: 80px;
        right: 120px;
        
        /* background-color: aqua; */
    }
    .workani{
        animation: workAnimation 2s infinite;
    }
    .workani2{
        animation: workAnimation2 1.8s infinite;
    }
    .workani3{
        animation: workAnimation3 1s infinite;
    }
    .workani4{
        animation: workAnimation4 2s infinite;}
    
    /* p6 animation */
    @keyframes workAnimation{
        0%, 100%{
            margin-top: 0px;
        }
        50%{
            margin-top: -30px;
        }
    }
    @keyframes workAnimation2{
        0%{
            transform: rotate(20deg);
        }
        50%{
            transform: rotate(-20deg);
        }
        100%{
            transform: rotate(20deg);
        }
    }
    @keyframes workAnimation3{
        0%, 100%{
            margin-top: 30px;
        }
        50%{
            margin-bottom: -30px;
        }
    }
    @keyframes workAnimation4{
        0%{
            transform: rotate(-40deg);
        }
        50%{
            transform: rotate(20deg);
        }
        100%{
            transform: rotate(-40deg);
        }
    }
    
    /* portfolioWrap*/
    #portfolioWrap{
        width: 300%;
        height: 100%;
    
        position: absolute;
        top: 300%;
        left: 300%;

        /* background-color: bisque; */
    }
    
    /* part1 */
    #part1{
        width: 33.33%;
        height: 100%;
        float: left;
        /* position: absolute;
        top: 0%;
        left: 33.33%; */
        
        background-color: #f8d7de;
    }
    #page7{
        width: 1200px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        /* background-color: aqua; */
    }
    #page7 > img:nth-child(1) {
        /* width: 1200px; */
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #page7 > img:nth-child(2) {
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #page7 > img:nth-child(3) {
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .click > p{
        display: inline-block;
        width: 100px;
        text-align: center;
        border-bottom: 3px dotted #333;
        margin-top: 50px;
        cursor: pointer;
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .click > p > a {
        display: inline-block;
        width: 100%;
        height: 100%;
    
        /* background-color: aqua; */
    }
    /* part2 */
    #part2{
        width: 33.33%;
        height: 100%;
        float: left;
        background-color: #92ab8f;
    }
    #page9{
        width: 1200px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        /* background-color: aqua; */
    }
    #page9 > img:nth-child(1) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #page9 > img:nth-child(2) {
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* part3 */
    #part3{
        width: 33.33%;
        height: 100%;
        float: left;
        background-color: #f8d7de;
    }
    #page11{
        width: 1200px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        /* background-color: aqua; */
    }
    #page11 > img:nth-child(1) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #page11 > img:nth-child(2) {
        width: 400px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    /* contact page */
    #page13{
        width: 100%;
        height: 100%;
        background-color: #f6ef87;
    
        position: absolute;
        top: 400%;
        left: 500%;
    }
    #contact_wrap{
        background: url(../images/p13_bg.png);
        width: 90%;
        height: 80%;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #contact{
        width: 50%;
        height: 90%;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
        /* background-color: antiquewhite; */
    }
    #contact > img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .contactMyself{
        display: block;
        width: 50%;
        height: 65%;
        /* background-color: #f8d7de; */
    
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: left;
    
    }
    .script{
        height: 50px;
        line-height: 50px;
        padding:0 20px;
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    
        border: 5px solid #3b3a37;
        background-color: #faf5ea;
    }
    .contactMyself > li:last-child{
        width: 150px;
        margin: 0 auto;
    
        border: 5px solid #3b3a37;
        background-color: #faf5ea;
    
    }
    .contactMyself > li:last-child > img{
        width: 150px;
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        background-color: #92ab8f;
    
    }
    #bottom_wrap{
        width: 35%;
        overflow: hidden;
    
        position: absolute;
        bottom: -7%;
        left: -2%;
    
        /* background-color: aqua; */
    }
    #bottom_wrap > img{
        float: left;
        margin-right: 8px;
    }
    #bottom_wrap > img:nth-child(2){
        position: relative;
        bottom: -200px;
    
        /* background-color: coral; */
    }
    #bottom_wrap > img:nth-child(4){
        position: relative;
        bottom: -200px;
    
        /* background-color: coral; */
    }
    #bottom_wrap > img:nth-child(5){
        position: relative;
        bottom: -200px;
    
        /* background-color: coral; */
    }
    .move{
        animation: movecuc 3s infinite;
    }
    #top_wrap{
        width: 360px;
        height: 100px;
        position: absolute;
        top: -60px;
        right: 0;
    
        /* background-color: burlywood; */
    }
    #top_wrap > img{
        margin-left: 5px;
        float: right;
    }
    .rotate{
        animation: rotatecuc 20s infinite linear;
    }
    .ratateY{
        animation: ratateYcuc 1.5s infinite ;
    }
    
    /* page13 animation*/
    @keyframes movecuc{
        0%, 100%{
            transform: rotate(-5deg);
        }
        50%{
            transform: rotate(5deg);
        }
    }
    
    @keyframes rotatecuc{
        0%, 100% {
            transform: rotateY(360deg);
        }
        50%{
            transform: rotateY(0);
        }
    }
    
    @keyframes ratateYcuc{
        0%, 100%{
            transform: rotateX(40deg);
        }
        50%{
            transform: rotateX(-40deg);
        }
    }
    
    