/* color : 
#92ab8f(초록), 
#f8d7de(분홍), 
#f6ef87(노랑),
#faf5ea(배경색),
#3b3a37(글자색) */

/* 글자 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* font-family: 'Dongle', sans-serif; 본문체 
    font-family: 'Chango', cursive; 로고
    font-family: 'Black Han Sans', sans-serif;강조체 */

/* 기본값 셋팅 */
*{
    margin: 0; 
    padding: 0;
}
html, body{
    font-size: 25px;
    color: #3b3a37;
    font-family: 'Dongle', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #3b3a37;
    font-family: 'Dongle', sans-serif;
}
ul,ol{
    list-style: none;
}
img{
    display:  block;
}

/* page1 */
#page1 {
    width: 100%;
    height: 1080px;
    background: url(../images/p1_bg.png) no-repeat;
    overflow: hidden;
    position: relative;
}
.pg1_wrap{
    background: url(../images/p1_bg_main.png) no-repeat;
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#typing{
    position: relative;
}
#opening > h1{
    line-height: 800px;
    text-align: center;
    font-size: 100px;
}
/* 커서 */
#opening > h1::after{
    content: "";
}
#element01 > img{
    width: 156px;
    height: 426px;
    position: absolute;
    bottom: 50px;
    right: -50px;
}
#element02{
    width: 250px;
    position: absolute;
    top: -77px;
    left: 0;
}
#element02 li > img{
    margin: 0 auto;
    margin-right: 10px;
    float: left;
}

/* logo & nav */
header {
    width: 100%;
    overflow: hidden;
    background-color: #faf5ea7b;
    box-shadow: 0 0 15px #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
nav{
    width: 62%;
    margin: 0 19%;
}
nav > a {
    width: 200px;
    height: 80px;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    float: left;
}
nav > ul {
    width: 400px;
    height: 80px;
    float: right;
}
nav > ul > li{
    width: 25%;
    height: 100%;
    font-family: 'Chango', cursive;
    text-align: center;
    line-height: 80px;
    float: left;
}
nav > ul > li > a {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

/* page 공통 */
#about{
    width: 100%;
    overflow: hidden;
}
.pinkbg{
    background: url(../images/p2_bg.png) repeat-y;
}
.w62{
    /* padding-top: 80px; */
    width: 62%;
    margin: 0 auto;
}

/* page2 */
#page2{
    height: 1080px;
}
#hello{
    width: 66.6%;
    height: 990px;
    float: left;
    position: relative;
}
#hello > img:first-child {
    position: absolute;
    bottom: 0;
    right: 0px;
}
#hello > img:nth-child(2) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-150%);
}
#wrap_cac{
    /* width: 200px;
    height: 500px; */
    position: absolute;
    bottom: 20px;
    left: -50px;
}
#wrap_cac > img:nth-child(6){
    position: relative;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#wrap_cac > img:nth-child(1){
    position: relative;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#wrap_cac > img:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 20px;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#wrap_cac > img:nth-child(3){
    position: absolute;
    bottom: 40px;
    left: -10px;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#wrap_cac > img:nth-child(4){
    position: absolute;
    bottom: 100px;
    right: -60px;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#wrap_cac > img:nth-child(5){
    position: absolute;
    top: 100px;
    right: -30px;
    filter: drop-shadow(-4px 4px 4px #3b3a37);
}
#introduce{
    width: 33.3%;
    height: 990px;
    background: url(../images/p2_bg_02.png) no-repeat;
    background-position: right;
    float: right;
    position: relative;
}
#introduce > p{
    width: 75%;
    overflow: hidden;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);

    /* 문제.. 늘리면 글이 그림 밖으로 나가버림 */
}
#introduce > p::before{
    content: "";
    display: block;
    width: 30px;
    border-top: 3px solid #3b3a37;
    margin-bottom: 50px;
}

/* page3 */
.p3 {
    height: 2180px;

}
/* page3 > strength */
#strength{
    width: 100%;
    height: 25%;
    position: relative;
}
.s_wrap{
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    position: absolute;
    top: 100px;
    right: 180px;
}
.s_wrap > h3{
    font-size: 80px;
    font-weight: 800;
}
.s_wrap > p {
    padding-left: 100px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    text-align: justify;
}
#strength > .img_wrap{
    position: absolute;
    top: 50px;
    left: 0px;

    z-index: 5;
}
#strength > .img_wrap > img:nth-child(2){
    position: relative;
    bottom: 250px;
    left: 20px;
}
#strength > .img_wrap > img:nth-child(3){
    position: relative;
    bottom: 240px;
    left: 80px;
}
/* page3 > weaknesses */
#weaknesses{
    width: 100%;
    height: 25%;
    position: relative;
}
.w_wrap{
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    position: absolute;
    top: 100px;
    left: 180px;
}
.w_wrap > h3{
    text-align: right;
    font-size: 80px;
    font-weight: 800;
}
.w_wrap > p {
    padding-right: 100px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    text-align: justify;
}
#weaknesses > .img_wrap{
    position: absolute;
    top: 80px;
    right: -150px;

    /* background-color: brown; */
}
#weaknesses > .img_wrap > img:nth-child(2){
    position: absolute;
    bottom: 50px;
    left: 0;
}
#weaknesses > .img_wrap > img:last-child{
    position: absolute;
    top: 50px;
    right: 120px;
}

/* page3 > opportunities */
#opportunities{
    width: 100%;
    height: 25%;
    position: relative;
}
.o_wrap{
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    position: absolute;
    top: 100px;
    right: 180px;
}
.o_wrap > h3{
    font-size: 80px;
    font-weight: 800;
}
.o_wrap > p {
    padding-left: 100px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    text-align: justify;
}
#opportunities > .img_wrap{
    position: absolute;
    top: 80px;
    left: -50px;

    z-index: 5;
    /* background-color: brown; */
}
/* page3 > threats */
#threats{
    width: 100%;
    height: 25%;
    position: relative;
}
.t_wrap{
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    position: absolute;
    top: 100px;
    left: 180px;
}
.t_wrap > h3{
    text-align: right;
    font-size: 80px;
    font-weight: 800;
}
.t_wrap > p {
    padding-right: 100px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    text-align: justify;
}
#threats > .img_wrap{
    position: absolute;
    top: -10px;
    right: -50px;
    /* background-color: brown; */
}
#threats > .img_wrap > img:nth-child(2){
    position: absolute;
    top: -70px;
    right: 140px;
}
#threats > .img_wrap > img:last-child{
    position: absolute;
    top: -70px;
    right: 70px;;
}

/* page5 */
#skill{
    width: 100%;
    height: 2190px;
    background: url(../images/p5_bg.png) no-repeat;
    
}
/* 배터리 */
#battery{
    width: 66.6%;
    height: 2190px;
    position: relative;
    float: left;

    /* background-color: crimson; */
}
.battery_wrap{
    width: 100%;
    height: 16.5%;

    /* background-color: rgb(193, 146, 236); */
}
.battery_wrap > p {
    margin-top: 200px;
    width: 30%;
    height: 88px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.5em;
    line-height: 88px;
    float: left;
    
    /* background-color: coral; */
}
.battery_box{
    margin-top: 200px;
    margin-right: 10px;
    width: 60%;
    float: right;

    /* background-color: darkkhaki; */
}
.battery_box > img{
    width: 100%;
}

/* 자격증 */
#certification{
    width: 33.3%;
    height: 2190px;
    float: right;

    /* background-color: coral; */
}
#certification > ul{
    width: 100%;
    height: 100%;
}
#certification > ul >li{
    padding: 20px 0;
    float: left;
}
.cer_line{
    background: url(../images/p5_el_01.png) no-repeat;
    width: 20%;
    height: 100%;
}
.cer_line > p{
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    writing-mode: vertical-rl;
}

/* portfolio */
/* page 6 */

#portfolio{
    width: 100%;
}
#works{
    background: url(../images/p6_bg.png) no-repeat;
    width: 100%;
    height: 1090px;

    position: relative;
}
#works > p:first-child{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 200px;
    color: #faf5ea;
    text-align: center;
    line-height: 1090px;

    z-index: 5;

}
/* #works > .shadow{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 220px;
    color: #3b3a37;
    text-align: center;
    line-height: 1090px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
} */
