/* 갈색 #654339  초록색 #5f724c 검정 #0a0c19 흰색#faf9f1*/
/* a28e88 - 연갈 856961 - 진갈  e0dad8 - 흰색과 가까운 연갈 d4d5cb - 연초  60724c - 녹색*/

/* font-family: 'Do Hyeon', sans-serif, monospace; 강조 */
/* font-family: 'Nanum Pen Script', cursive, monospace; 필기체느낌 */

html, body{
    width: 100%;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif, monospace;
    color: #0a0c19;
    background-color: #faf9f1;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0c19;
    font-family: 'Nanum Gothic', sans-serif, monospace;
}
img{
    display:  block;
}
button{
    cursor: pointer;
}

/* intronav */
#intronav{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
#intronav > ul{
    width: 15%;
    padding-top: 10px;
    float: right;
}
#intronav > ul > li{
    width: 33.33%;
    float: left;
    text-align: right;
}
#intronav > ul > li > a{
    display: block;
    width: 100%;
    font-size: 11px;
}

/* main nav */
#mainnav{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#mainnav > a{
    float: left;
}
#mainnav > a > img{
    height: 60px;
}
#mainnav::after{
    content: "";
    display: block;
    clear: both;
}
#mainmenu{
    float: left;
    padding: 0 28px;
}
#mainmenu > li{
    float: left;
    width: 110px;
    text-align: center;
}
#mainmenu > li > a{
    padding: 20.5px 0;
    line-height: 60px;
}
#search1{
  float: left;
}
#search1 > input{
    float: left;
    margin: 19.5px 16px;
    margin-right: 0;
}
#search1 > a{
    float: left;
    margin: 19.5px 15px;
}
#search1 > a > img{
    cursor: pointer;
}

/* nav */
#subwrap{
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 999;
}

#hospital-introduce{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    
    display: none;
}
#hospital-introduce::before{
    content: "병원소개";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#hospital-introduce > li{
    float: left;
}
#hospital-introduce > li > a{
    display: block;
    padding: 15px 30px;
}
#hospital-introduce::after{
    content: "";
    display: block;
    clear: both;
}
#hospital-introduce.on{
    display: block;
}

/* clinic */
#clinic{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    
    display: none;
}
#clinic::before{
    content: "클리닉";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#clinic > li{
    float: left;
}
#clinic > li > a{
    display: block;
    padding: 15px 30px;
}
#clinic::after{
    content: "";
    display: block;
    clear: both;
}
#clinic.on{
    display: block;
}

/* remedial */
#remedial{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#remedial::before{
    content: "재활치료";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#remedial > li{
    float: left;
}
#remedial > li > a{
    display: block;
    padding: 15px 30px;
}
#remedial::after{
    content: "";
    display: block;
    clear: both;
}
#remedial.on{
    display: block;
}

/* backbone-joint */
#backbone-joint{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#backbone-joint::before{
    content: "척추관절질환";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#backbone-joint > li{
    float: left;
}
#backbone-joint > li > a{
    display: block;
    padding: 15px 30px;
}
#backbone-joint::after{
    content: "";
    display: block;
    clear: both;
}
#backbone-joint.on{
    display: block;
}

/* herbal */
#herbal{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#herbal::before{
    content: "한약치료";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#herbal > li{
    float: left;
}
#herbal > li > a{
    display: block;
    padding: 15px 30px;
}
#herbal::after{
    content: "";
    display: block;
    clear: both;
}
#herbal.on{
    display: block;
}

/* alarm */
#alarm{
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#alarm::before{
    content: "공지사항";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
    
    /* border-right: 2px solid #faf9f1; */
}
#alarm > li{
    float: left;
}
#alarm > li > a{
    display: block;
    padding: 15px 30px;
}
#alarm::after{
    content: "";
    display: block;
    clear: both;
}
#alarm.on{
    display: block;
}

/* 호버시 */
#subwrap > ul > li:hover > a{
    color: #e0dad8;
    transition: 200ms;
}
#mainmenu > li:hover {
    background-color: #a28e88;
    transition: 400ms;
}

/* main1 */
#slide-wrap{
    width: 100%;
    overflow: hidden; /*width100기준**/
    position: relative;
}
#slide-wrap > div:first-child{
    width: 300%;
    overflow: hidden;
    transition-duration: 400ms;
}
#slide-wrap > div:first-child > img{
    width: 33.33%;
    float: left;
}
#slide-bullet{
    position: absolute;
    left: 17%;
    bottom: 25px;
    /* transition-duration: 2000ms; */
}
#slide-bullet > button{
    transition-duration: 2000ms;
}
#slide-bullet > button{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    float: left;

    color: transparent;
    margin: 0 8px;
    border-radius: 50%;
    border: 2px solid #faf9f1;
    background-color: transparent;
}
#slide-bullet > a{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    float: left;

    color: transparent;
    margin: 0 8px;
}
#slide-bullet img{
    height: 15px;
}
#slide-bullet > button.on{
    background-color: #fff;
}

#reserve{
    width: 100%;
    overflow: hidden;
}
#reserve > div{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0 auto;
    background-color: #a28e88;
}
#info{
    width: 1200px;
    margin: 0 auto;
}
#info > li{
    display: inline-block;
}
#info > li > a{
    display: block;
    padding: 15px  40px;
}
#info > li:hover > a{
    background-color: #e0dad8;
    font-weight: bold;
}
#re-box{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
#box1{
    width: 50%;
    overflow: hidden;
    float: left;

    /* background-color: rgb(252, 178, 178); */
}
.box-form > form{
    width: 75%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #a28e88;
    overflow: hidden;
    box-sizing: border-box;
}
.box-form > form > h3{
    font-size: 25px;
    font-weight: bold;
    color: #5a3c34;
    margin-bottom: 20px;

}
.one{
    float: left;
    width: 50%;
    margin-bottom: 10px;
}
.one input{
    width: 130px;
    border-radius: 3px;
    border: none;
    padding: 6px;
}
.one span{
    font-weight: bold;
}
.two{
    float: left;
    width: 50%;
    margin-bottom: 10px;
}
.two input{
    padding: 5px 32px;
    border-radius: 3px;
    border: none;
    background-color: #856961;
    cursor: pointer;
}
.two input.check{
    background-color: #e0dad8;
    border-radius: 3px;
    font-weight: bold;
    transition: 150ms;
}
.three{
    float: left;
    width: 50%;
}
.three input{
    border: none;
    border-radius: 3px;
    padding: 6px;
}
.reserve-button{
    width: 75%;
    padding: 10px 0;
    background-color: #e0dad8;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}
.reserve-button:hover{
    animation: fill 0.5s linear both;
}

@keyframes fill{
    0%{
        background-color: #e0dad8;
    }
    100%{
        background-color: #856961;
        color: #e0dad8;
        font-weight: 600;
    }
}

#box2{
    width: 50%;
    overflow: hidden;
    float: right;
    text-align: center;
}
#re-box > p{
    display: block;
    padding-bottom: 10px;
}

/* .scrollEvent */
/* .scrollevent{
    display: none;
} */

/* page2 */
#therapy{
    width: 100%;
    overflow: hidden;
    background-color: #d4d5cb;
}
#therapysec1{
    background: url(../image/men.png) no-repeat;
    background-size: 150px 414px;
    background-position: 0%, 50%;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    position: relative;

    /* border: 2px solid red; */
}
#comments{
    width: 50%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translateX(-41%);
    padding: 57px 0px;
}
#comments > p:nth-child(1){
    font-size: 50px;
    /* font-weight: bold; */
    color: #60724c;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Do Hyeon', sans-serif, monospace;;
}
#comments > p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}
#comments > p:nth-child(2)::before{
    content: "";
    display: block;
    clear: both;
    border-top: 3px solid #60724c;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 350px;
}
#circle{
    width: 80%;
    float: right;
    padding-bottom: 100px;
}
#circle > li{
    float: left;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: #60724c;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif, monospace;;
    color: #e0dad8;
    margin: 10px 0;
    margin-right: 15px;
    cursor: pointer;
}
#circle > li:hover {
    animation: jumping 0.8s linear both;
}

@keyframes jumping {
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

/* pointer */
#therapysec1 > img:nth-child(1){
    width: 60px;
    position: absolute;
    top: 8px;
    left: 45px;
    
    display: none;
}
#therapysec1 > img:nth-child(1).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(2){
    width: 60px;
    position: absolute;
    top: 58px;
    left: 45px;

    display: none;
}
#therapysec1 > img:nth-child(2).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(3){
    width: 60px;
    position: absolute;
    top: 81px;
    left: 90px;

    display: none;
}
#therapysec1 > img:nth-child(3).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(4){
    width: 60px;
    position: absolute;
    top: 163px;
    left: 47px;

    display: none;
}
#therapysec1 > img:nth-child(4).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(5){
    width: 60px;
    position: absolute;
    bottom: 200px;
    left: -14px;

    display: none;
}
#therapysec1 > img:nth-child(5).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(6){
    width: 60px;
    position: absolute;
    top: 190px;
    left: 78px;

    display: none;
}
#therapysec1 > img:nth-child(6).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(7){
    width: 60px;
    position: absolute;
    bottom: 125px;
    left: 66px;

    display: none;
}
#therapysec1 > img:nth-child(7).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}
#therapysec1 > img:nth-child(8){
    width: 60px;
    position: absolute;
    bottom: 31px;
    left: 65px;

    display: none;
}
#therapysec1 > img:nth-child(8).twinkle{
    display: block;
    animation: pointRed 1s infinite linear;
}

@keyframes pointRed {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
}

#therapysec2{
    background-color: #60724c;
}
#therapysec2 > div{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}
#therapysec2 > div > p{
    padding: 10px 40px;
    color: #e0dad8;
    float: left;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
#therapysec2 > div > ul::after{
    content: "";
    display: block;
    clear: both;
}
#therapysec2 > div > ul > li{
    float: left;
}
#therapysec2 > div > ul > li > a{
    display: block;
    font-weight: bold;
    width: 200px;
    line-height: 36px;
    text-align: center;
    background-color: #e0dad8;
    border-radius: 100px;
    margin: 0 13px;
}

#non-surgery{
    width: 1200px;
    overflow: hidden;
    margin: 80px auto;
}
#nonsec1{
    width: 70%;
    float: left;

    /* background-color: yellowgreen; */
}
#nonsec1 > p{
    width: 25%;
    color: #856961;
    font-size: 25px;
    font-weight: bold;
    float: left;
    padding: 23% 0;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
#nonsec1 > ul{
    width: 75%;
    float: right;
}
.nospan{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    border-radius: 10px;
    position: relative;
}
.nospan span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 25px;
    color: #faf9f1;
    /* font-weight: bold; */
    font-size: 28px;
    font-family: 'Nanum Pen Script', cursive, monospace;
    display: none;

}
.nospan:hover span{
    display: block;
    transition: 400ms;
}
.nospan:hover img{
    transition: 400ms;
    filter: brightness(0.2);
}
#nonsec2{
    width: 30%;
    float: right;
}
#nonsec2 > h3{
    font-size: 20px;
    font-weight: bold;
    color: #856961;
}
#nonsec2 > h3 > img{
    width: 30px;
    position: relative;
    top: 17px;
    left: -33px;
}
#nonsec2 > ul{
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    left: -15px;
}
#nonsec2 > ul > li{
    float: left;
    margin: 10px 20px;
    margin-right: 0;
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive, monospace;
    cursor: pointer;
}
#nonsec2 > ul > li:hover > span{
    display: block;
    animation: swing 1s linear both;
}

@keyframes swing{
    0%{
        transform: rotateX(0deg);
        color: orangered;
    }
    25%{
        transform: rotateX(90deg);
        color: orangered;
    }
    50%{
        transform: rotateX(180deg);
        color: orangered;
    }
    75%{
        transform: rotateX(270deg);
        color: orangered;
    }
    100%{
        transform: rotateX(360deg);
        color: orangered;
    }

}

/* page3 */
#showOff{
    width: 100%;
    height: 560px;
    background: url(../image/p3_bg.png) no-repeat;
    overflow: hidden;
}
#showOff > article{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 146px;
}
#showOff > article > div{
    width: 700px;
    height: 300px;
    background: url(../image/p4_bg.png) no-repeat;
    text-align: center;
    float: left;
}
#showOff > article > div > h3{
    padding-bottom: 25px;
    color: #e8e8e8;
}
#showOff > article > div > p{
    padding-bottom: 25px;
    color: #e8e8e8;
    font-weight: 600;
    
}
#showOff > article > div > h3{
    padding-top: 100px;
    font-size: 40px;
    /* font-weight: bold; */
    color: #e8e8e8;
    font-family: 'Do Hyeon', sans-serif, monospace;
}
#showOff > article > img{
    float: right;
}

#mapWrap{
    width: 100%;
}
#mapInfo{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#map{
    width: 50%;
    float: left;
}
#map > iframe{
    /* width: 600px; */
    height: 300px;
    /* background-color: #60724c; */

    /* float: right; */
}
#vihicle{
    width: 50%;
    box-sizing: border-box;
    padding: 50px 30px;
    float: right;
}
#car{
    margin-bottom: 30px;
    line-height: 20px;
}
#car > h3{
    font-weight: bold;
    margin-bottom: 5px;
}
#bus{
    line-height: 20px;
}
#bus > h3{
    font-weight: bold;
    margin-bottom: 5px;
}

#information{
    width: 1200px;
    overflow: hidden;
    margin: 10px auto;
}
#information div{
    padding: 0 50px;
}
#information > div > ul > li{
    line-height: 20px;
}
#time{
    background: url(../image/clock.png) no-repeat;
    background-position: 0 10%;
    background-size: 53px;
    width: 25%;
    float: left;
}
#time > ul{
    margin: 0 36px;
}
#time > ul > li:first-child{
    font-weight: bold;
}
#tel{
    background: url(../image/tel.png) no-repeat;
    background-position: 0% 36%;
    background-size: 64px;
    width: 25%;
    float: left;
    
    /* background-color: orange; */
}
#tel > ul{
    margin: 0 53px;
}
#location{
    background: url(../image/location.png) no-repeat;
    background-size: 41px;
    width: 25%;
    font-size: 16px;
    float: left;

    /* background-color: yellowgreen; */
}
#location > ul{
    margin: 0 20px;
}

/* footer */
footer{
    width: 100%;
    background-color: #e0dad8 ;
    overflow: hidden;
}
footer > section{
    width: 1200px;
    overflow: hidden;
    padding: 10px 0;
    margin: 0 auto;
}
#footerlogo{
    float: left;
}
#footerlogo > img{
    height: 50px;
    padding: 50px ;
}
#footerInfo{
    float: left;
    line-height: 25px;
    padding: 35px ;
}
#footerInfo > p{
    display: block;
}
#footerInfo > ul > li{
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid #555 ;
}
#footerInfo > ul > li:last-child{
    border: none;
}
