/* 색상 */
/* 검정-#333333 배경-#fefefe 다홍(주조색)-#eb1358 > 다홍2-#ef4279 > 다홍3-#f7a1bc > 분홍-#fbd0de 자주색-#760a2c */
/* 회색-#cfcfcf 사람색상-#D4B3B3*/
/* 폰트 */
/*  */
/* font-family: 'Do Hyeon', sans-serif, monospace; 강조 */
/* font-family: 'Nanum Pen Script', cursive, monospace; 필기체느낌 */
/* font-family: 'Noto Sans KR', sans-serif, monospace */

html, body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif, monospace;
    font-weight: 300;
    color: #333333;
    background-color: #fefefe;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0c19;
    font-family: 'Noto Sans KR', sans-serif, monospace;
}
img{
    display:  block;
}
input{
    cursor: pointer;
}

/* header*/
header::after{
    content: "";
    display: block;
    clear: both;
}
/* personal_information & w1200*/
#personal_information{
    width: 100%;
    height: 50px;
    background-color: #eb1358;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
#personal_information > .w1200::after{
    content: "";
    display: block;
    clear: both;
}
#personal_information ul{
    float: right;
}
#personal_information ul > li{
    width: 100px;
    text-align: center;
    float: left;
}
#personal_information ul > li > a{
    color: #fefefe;
    line-height: 50px;
    font-size: 14px;
}

/* nav_area */
#nav_area{
    width: 100%;
    height: 70px;
    background-color: #fefefe;
}
#nav_area.fix{
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2) ;

    z-index: 999;
}
#nav_wrap > a:first-child{
    display: block;
    float: left;
}
#nav_wrap > a > img{
    width: 250px;
    margin: 15px 0;
}
#nav_wrap::after{
    content: "";
    display: block;
    clear: both;
}
#main_nav{
    width: 70%;
    float: left;
    margin: 0 40px;
}
#main_nav > li{
    width: 20%;
    float: left;
    font-size: 18px;

}
#main_nav > li.on > a{
    color: #eb1358;
    font-weight: 500;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    transition: 400ms;
}
#main_nav > li > a{
    width: 100%;
    text-align: center;
    padding: 26px 0;

    display: block;
}

/* search */
#search{
    overflow: hidden;
}
#search > a{
    float: right;
}
#search > a > img{
    width: 30px;
    height: 30px;
    margin: 20px 0;
}
#search_page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0;
    background-color: rgba(51, 51, 51,95%);

    z-index: 999;

    display: none;
}
#search_open{
    width: 60%;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: #fefefe; */
}
#search_page > span{
    display: block;
    background: url(../img/exit.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 100px;
    right: 100px;
    color: transparent;
    cursor: pointer;
}
#search_open > input{
    width: 100%;
    height: 80px;
    float: left;
    border: 10px solid #eb1358;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 18px;

    font-size: 23px;
}
#search_open > a{
    display: block;
    position: absolute;
    right: 0;
    margin: 18px;
    margin-right: 35px;
    cursor: pointer;
}
#search_open > a > img{
    width: 45px;
    height: 45px;
}

/* subMenu */
#sub_wrap{
    z-index: 900;
    position: absolute;

    margin-left: 290px;
}
#sub_wrap > ul{
    float: left;
    background-color: #fefefe;
}
.subwrap_contents{
    display: none;
}
.subwrap_contents span{
    color: #eb1358;
    font-size: 12px;
}
.subwrap_contents.on{
    display: block;
}
#sub_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.subwrap_contents{
    width: 168px;
    border: 2px solid #eb1358;
}
.subwrap_contents > li:first-child:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #eb1358;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: absolute;
    top: -20px;
    left: 85px;
    transform: translateX(-50%);
}
.subwrap_contents > li{
    overflow: hidden;
    text-align: center;
}
.subwrap_contents > li > a{
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.subwrap_contents > li:hover > a{
    background-color: #eb1358;
    color: #fefefe;
}
.subwrap_contents > li:hover > a > span{
    color: #fefefe;
}
#hospital_introduce{
    position: absolute;
    left: 1px;
}
#clinic{
    position: absolute;
    left: 169px;
}
#special_clinic{
    position: absolute;
    left: 337px;
}
#rehabilitate{
    position: absolute;
    left: 505px;
}
#alarm{
    position: absolute;
    left: 673px;
}

/* 반응형 */
#bar{
    display: none;
}

/* 로컬네비 */
#localNav{
    height: 50px;
    background-color: #fbecf2 ;
}
#localNav > div > ul{
    float: left;
    line-height: 50px;
    text-align: center;
}
#localNav > div > ul > li{
    float: left;
    position: relative;
    width: 150px;
}
#localNav > div > ul > li:not(:first-child)::after{
    content: ">";
    display: block;
    color: #eb1358;
    font-weight: 500;
    font-size: 16px;

    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

/* fixMenu */
#fixMenu{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}
#fixMenu > a{
    display: block;
    border: 5px solid #f7a1bc;
    background-color: #fefefe;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
#fixMenu > a:not(:last-child){
    border-bottom: none;
}
#fixMenu > a:hover{
    background-color: #f7a1bc;
    color: #fefefe;
    transform: translate(-10px, -10px);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
#fixMenu > a > span{
    width: 100%;
    position: absolute;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
footer{
    width: 100%;
    background-color: #e0dad8 ;
    overflow: hidden;
}
footer > section{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
#footerlogo{
    float: left;
}
#footerlogo > img{
    height: 50px;
    padding: 50px ;
}
#footerInfo{
    float: left;
    line-height: 25px;
    padding: 27px ;
}
#footerInfo > p{
    display: block;
}
#footerInfo > ul{
    margin: 10px 0;
}
#footerInfo > ul > li{
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid #555 ;
}
#footerInfo > ul > li:last-child{
    border: none;
}