/* 갈색 #654339  초록색 #5f724c 검정 #0a0c19 흰색#faf9f1*/
/* a28e88 - 연갈 856961 - 진갈  e0dad8 - 흰색과 가까운 연갈 d4d5cb - 연초  60724c - 녹색*/

/* font-family: 'Do Hyeon', sans-serif, monospace; 강조 */
/* font-family: 'Nanum Pen Script', cursive, monospace; 필기체느낌 */

/* 1. PC기준 */
@media screen and (min-width:1200px){

html, body{
    width: 100%;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif, monospace;
    color: #0a0c19;
    background-color: #fefefe;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0c19;
    font-family: 'Nanum Gothic', sans-serif, monospace;
}
img{
    display:  block;
}
button{
    cursor: pointer;
}

nav{
    width: 100%;
    margin: 0 auto;
}
nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    box-shadow:4px 4px 4px rgba(0,0,0,0.2);
    z-index: 999;
}

/* main nav */
#mainnav{
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}
#mainnav::after{
    content: "";
    clear: both;
    display: block;
}
#mainnav > a{
    float: left;
}
#mainnav > a > img{
    height: 60px;
}
#mainmenu{
    float: left;
    padding: 0 70px;
}
#mainmenu > li{
    float: left;
    width: 110px;
    text-align: center;
}
#mainmenu > li > a{
    padding: 20.5px 0;
    line-height: 60px;
}
#search2{
  float: right;
}
#search2 > button{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}
#search2 > button:first-child{
    display: block;
    float: left;
    padding: 19.5px 21px;
}
#search2 > button:nth-child(2){
    float: left;
    display: block;
    padding: 21.5px 15px;
    background-color: #60724c;
    color: #e0dad8;
}

/* nav */
#subwrap{
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 999;
}
#hospital-introduce{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px; /*150*/
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    
    display: none;
}
#hospital-introduce::before{
    content: "병원소개";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#hospital-introduce > li{
    float: left;
}
#hospital-introduce > li > a{
    display: block;
    padding: 15px 30px;
}
#hospital-introduce::after{
    content: "";
    display: block;
    clear: both;
}
#hospital-introduce.on{
    display: block;
}

/* clinic */
#clinic{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    
    display: none;
}
#clinic::before{
    content: "클리닉";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#clinic > li{
    float: left;
}
#clinic > li > a{
    display: block;
    padding: 15px 30px;
}
#clinic::after{
    content: "";
    display: block;
    clear: both;
}
#clinic.on{
    display: block;
}

/* remedial */
#remedial{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#remedial::before{
    content: "재활치료";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#remedial > li{
    float: left;
}
#remedial > li > a{
    display: block;
    padding: 15px 30px;
}
#remedial::after{
    content: "";
    display: block;
    clear: both;
}
#remedial.on{
    display: block;
}

/* backbone-joint */
#backbone-joint{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#backbone-joint::before{
    content: "척추관절질환";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#backbone-joint > li{
    float: left;
}
#backbone-joint > li > a{
    display: block;
    padding: 15px 30px;
}
#backbone-joint::after{
    content: "";
    display: block;
    clear: both;
}
#backbone-joint.on{
    display: block;
}

/* herbal */
#herbal{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#herbal::before{
    content: "한약치료";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#herbal > li{
    float: left;
}
#herbal > li > a{
    display: block;
    padding: 15px 30px;
}
#herbal::after{
    content: "";
    display: block;
    clear: both;
}
#herbal.on{
    display: block;
}

/* alarm */
#alarm{
    width: 100%;
    box-sizing: border-box;
    background-color: #a28e88;
    padding: 0 150px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);

    display: none;
}
#alarm::before{
    content: "공지사항";
    display: block;
    float: left;
    padding: 15px 30px;
    padding-left: 20px;
    color: #e0dad8;
    font-weight: bold;
}
#alarm > li{
    float: left;
}
#alarm > li > a{
    display: block;
    padding: 15px 30px;
}
#alarm::after{
    content: "";
    display: block;
    clear: both;
}
#alarm.on{
    display: block;
}

/* 호버시 */
#subwrap > ul > li:hover > a{
    color: #e0dad8;
    transition: 200ms;
}
#mainmenu > li:hover {
    background-color: #a28e88;
    transition: 400ms;
}

/* part1MainWrap */
main::before{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid #654339;
    margin-bottom: 5px;
}
#part3MainWrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#aside{
    width: 15%;
    float: left;

    /* background-color: rgb(196, 150, 196); */
}
#aside > ul{
    width: 100%;
    position: relative;
}
#aside > ul > li{
    width: 100%;
    text-align: center;
    font-weight: 100;
}
#aside > h3{
    font-size: 25px;
    font-weight: bold;
    color: #654339;
    padding: 17px 0px;
    text-align: center;

    background-color: #fefefe;
}
#aside > ul > li:not(:last-child){
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #654339;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#aside > ul > li:last-child{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #654339;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#aside > ul > li:first-child{
    border-top: 4px solid #654339;
}
#aside > ul > li> a{
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.asidesub{
    width: 100%;
    border-top: 1px solid #654339;
    background-color: #e0dad8;

    display: none;
}
.asidesub >li:hover > a{
    color: #faf9f1;
    background-color: #654339;
}
.asidesub > li > a{
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 15px;
}
#asdiesub1{
    width: 100%;
    text-align: center;
}
#asdiesub1 > a{
    padding: 12px 0;
    display: block;
    background-color: #60724c;
    color: #e0dad8;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
}
#asdiesub2{
    width: 100%;
    text-align: center;
}
#asdiesub2 > a{
    padding: 12px 0;
    display: block;
    background-color: #60724c;
    color: #e0dad8;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
}
#asdiesub3{
    width: 100%;
    text-align: center;
}
#asdiesub3 > a{
    display: block;
    border: 3px solid #60724c;
    background-color:transparent;
    color: #60724c;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
    padding: 66px 20px;
    box-sizing: border-box;
}
#asdiesub3 > a > img{
    margin: 0 auto;
}
#asdiesub3 > a > span{
    display: block;
}

/* p3Sec2 */
#p3Sec2{
    width: 75%;
    float: left;
    margin: 0 12px;

    /* background-color: rgb(255, 145, 167); */
}
#p3Sec2 > h2{
    font-size: 25px;
    font-weight: bold;
    /* color: #60724c; */
    padding: 17px 0;
}
#contens{
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid #654339;
}
#contens > h3{
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
}
#content1{
    width: 100%;
    border-top: 1px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    background-color: #e0dad8;
    overflow: hidden;
}
#content1 > p{
    display: block;
    width: 25%;
    list-style: none;
    float: left;
    padding: 16px 0;
    font-weight: 600;
}
#content1 > p > span{
    float: right;
    margin-right: 30px;
}
#content2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #a28e88;
    line-height: 25px;
}
#content2 > h3{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#content2 > p{
    margin-bottom: 25px;
}

#contens > button{
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 2px;
    width: 70px;
    margin: 10px 0;
    padding: 5px;
}

/* form */
#p3Sec2 > article{
    width: 100%;
}
#p2Sec2 > article::after{
    content: "";
    display: block;
    clear: both;
}
#search-from{
    width: 29%;
    float: right;
    margin: 8px 0;
}
#search-from > select{
    float: left;
    padding: 3px 5px;
    margin-right: 5px;
}
#search-from input{
    float: left;
    padding: 3px 5px;
    width: 120px;
}
#search-from input:nth-child(3){
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 2px;
    width: 50px;
}
#search-from::after{
    content: "";
    display: block;
    clear: both;
}

/* notice */
#notice-table{
    width: 100%;
}
#notice-table > thead{
    width: 100%;
    background-color: #e0dad8;
    font-weight: 600;
    border-top: 2px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    font-weight: 100;
}
#notice-table > thead > tr> th{
    padding: 10px;
}
#notice-table > thead > tr> th:nth-child(1){
    width: 10%;
}
#notice-table > thead > tr> th:nth-child(2){
    width: 60%;
}
#notice-table > thead > tr> th:nth-child(3){
    width: 20%;
}
#notice-table > thead > tr> th:nth-child(4){
    width: 10%;
}
#notice-table > tbody{
    width: 100%;
}
#notice-table > tbody > tr{
    border-bottom: 1px solid #a28e88;
}
#notice-table > tbody > tr > td:not(:nth-child(2)){
    padding: 10px;
    text-align: center;
}
#notice-table > tbody > tr > td:nth-child(2) > a{
    display: block;
    padding: 10px;
    width: 100%;
}

/* pagenumber */
.pages{
    width: 336px;
    margin: 20px auto;
}
.pages::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul{
    width: 100%;
    text-align: center;
}
.pages > ul::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul > li{
    float: left;
}
.pages > ul > li > a{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
}
.pages > ul > li > a > img{
    width: 20px;
    height: 20px;
}

/* fixed */
#fixed{
    width: 8%;
    float: left;
    font-size: 14px;
    right: 8%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    
    background-color: darkgoldenrod;
}
#fixed > h2{
    width: 100%;
    display: block;
    background-color: #60724c;
    color: #faf9f1;
    box-sizing: border-box;
    border-bottom: 2px solid #faf9f1;
    padding: 17px 0px;
    text-align: center;
}
.quickMenu{
    width: 100%;
    box-sizing: border-box;
    background-color: #d4d5cb;
    font-weight: bold;
    color: #0a0c19;
    line-height: 20px;
}
.quickMenu.show{
    display: block;
}
.quickMenu > li{
    text-align: center;
    border-bottom: 1px solid #faf9f1;
}
.quickMenu > li > a{
    display: block;
    padding: 30px 0px;
}

/* footer */
footer{
    width: 100%;
    background-color: #e0dad8 ;
    overflow: hidden;
}
footer > section{
    width: 1200px;
    margin: 10px auto;
}
#footerlogo{
    float: left;
}
#footerlogo > img{
    height: 50px;
    padding: 50px ;
}
#footerInfo{
    float: left;
    line-height: 25px;
    padding: 35px ;
}
#footerInfo > p{
    display: block;
}
#footerInfo > ul > li{
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 2px solid #555 ;
}
#footerInfo > ul > li:last-child{
    border: none;
}

}

/* 2. 태블릿 기준 */
@media screen and (min-width:768px) and (max-width:1199px){
html, body{
    width: 100%;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif, monospace;
    color: #0a0c19;
    background-color: #fefefe;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0c19;
    font-family: 'Nanum Gothic', sans-serif, monospace;
}
img{
    display:  block;
}
button{
    cursor: pointer;
}
nav{
    width: 100%;
}
nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    box-shadow:4px 4px 4px rgba(0,0,0,0.2);
    z-index: 999;
}
/* main */
#mainnav{
    background-color: #d4d5cb;
    padding: 15px 0;
    position: relative;
}
#mainnav > a > img{
    height: 40px;
    margin: 0 auto;
}
#mainmenu{
    width: 100%;
    background-color: #e0dad8;
    position: absolute;
    top: 70px;
    right: 0; left: 0;
    z-index: 20;
    /* display: none; */
    
}
#mainmenu > li{
    overflow: hidden;
    float: left;
    width: 16.66%;
}
#mainmenu > li > a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
#subwrap{
    width: 100%;
    background-color: #e0dad8;
    overflow: hidden;
    position: absolute;
    top: 106px;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#subwrap > ul{
    width: 16.66%;
    text-align: center;
    float: left;
}
#subwrap.subNav{
    display: block;
}
#subwrap > ul > li > a{
    display: block;
    padding: 10px 0;
}
#subwrap > ul > li:hover > a{
    background-color: #654339;
    color: #fefefe;
}
#search2{
    display: none;
}
#search2{
    display: none;
}
    
/* 내용물 너비의 기준 */
#part3MainWrap{
    width: 768px;
    margin: 0 auto;
    margin-top: 36px;
}
#part3MainWrap::after{
    content: "";
    display: block;
    clear: both;
}
/* aside */
#aside{
    width: 18%;
    float: left;
}
#aside > ul{
    width: 100%;
    position: relative;
}
#aside > ul > li{
    width: 100%;
    text-align: center;
    font-weight: 100;
}
#aside > h3{
    font-size: 18px;
    font-weight: bold;
    color: #654339;
    padding: 11px 0px;
    text-align: center;

    background-color: #fefefe;
}
#aside > ul > li:not(:last-child){
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #654339;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#aside > ul > li:last-child{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #654339;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#aside > ul > li:first-child{
    border-top: 4px solid #654339;
}
#aside > ul > li> a{
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.asidesub{
    width: 100%;
    border-top: 1px solid #654339;
    background-color: #e0dad8;

    display: none;
}
.asidesub >li:hover > a{
    color: #faf9f1;
    background-color: #654339;
}
.asidesub > li > a{
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 15px;
}
#asdiesub1{
    width: 100%;
    text-align: center;
}
#asdiesub1 > a{
    padding: 12px 0;
    display: block;
    background-color: #60724c;
    color: #e0dad8;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
}
#asdiesub2{
    width: 100%;
    text-align: center;
}
#asdiesub2 > a{
    padding: 12px 0;
    display: block;
    background-color: #60724c;
    color: #e0dad8;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
}
#asdiesub3{
    width: 100%;
    text-align: center;
}
#asdiesub3 > a{
    display: block;
    border: 3px solid #60724c;
    background-color:transparent;
    color: #60724c;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    width: 90%;
    margin: 14px auto;
    padding: 66px 20px;
    box-sizing: border-box;
}
#asdiesub3 > a > img{
    margin: 0 auto;
}
#asdiesub3 > a > span{
    display: block;
}

/* content */
/* p3Sec2 */
#p3Sec2{
    width: 70%;
    float: left;
    margin: 0 12px;

    /* background-color: rgb(255, 145, 167); */
}
#p3Sec2 > h2{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
#contens{
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid #654339;
}
#contens > h3{
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
}
#content1{
    width: 100%;
    border-top: 1px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    background-color: #e0dad8;
    overflow: hidden;
}
#content1 > p{
    display: block;
    width: 25%;
    list-style: none;
    float: left;
    padding: 14px 0;
    font-weight: 600;
}
#content1 > p > span{
    float: right;
    margin-right: 30px;
}
#content2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #a28e88;
    line-height: 22px;
}
#content2 > h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#content2 > p{
    margin-bottom: 18px;
}

#contens > button{
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 2px;
    width: 53px;
    margin: 5px 0;
    padding: 2px;
}

/* search form */
#p3Sec2 > article{
    width: 100%;
}
#p3Sec2 > article::after{
    content: "";
    display: block;
    clear: both;
}
#search-from{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#search-from > select{
    float: left;
    margin-right: 5px;
}
#search-from input{
    float: left;
    width: 114px;
}
#search-from input:nth-child(3){
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 2px;
    width: 50px;
}
#search-from::after{
    content: "";
    display: block;
    clear: both;
}
    
/* notice */
#notice-table{
    width: 100%;
}
#notice-table > thead{
    width: 100%;
    background-color: #e0dad8;
    font-weight: 600;
    border-top: 2px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    font-weight: 100;
}
#notice-table > thead > tr> th{
    padding: 10px;
}
#notice-table > thead > tr> th:nth-child(1){
    width: 10%;
}
#notice-table > thead > tr> th:nth-child(2){
    width: 40%;
}
#notice-table > thead > tr> th:nth-child(3){
    width: 20%;
}
#notice-table > thead > tr> th:nth-child(4){
    width: 10%;
}
#notice-table > tbody{
    width: 100%;
}
#notice-table > tbody > tr{
    border-bottom: 1px solid #a28e88;
}
#notice-table > tbody > tr > td:not(:nth-child(2)){
    padding: 10px;
    text-align: center;
}
#notice-table > tbody > tr > td:nth-child(2) > a{
    display: block;
    padding: 10px;
    width: 100%;
}

/* pagenumber */
.pages{
    width: 266px;
    margin: 20px auto;
}
.pages::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul{
    width: 100%;
    text-align: center;
}
.pages > ul::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul > li{
    float: left;
}
.pages > ul > li > a{
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
}
.pages > ul > li > a > img{
    width: 20px;
    height: 20px;
}
    
/* fixed */
#fixed{
    width: 8%;
    float: left;
    font-size: 14px;
    right: 10px;
    margin-top: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
#fixed > h2{
    width: 100%;
    display: block;
    background-color: #60724c;
    color: #faf9f1;
    box-sizing: border-box;
    border-bottom: 2px solid #faf9f1;
    padding: 17px 0px;
    text-align: center;
}
.quickMenu{
    width: 100%;
    box-sizing: border-box;
    background-color: #d4d5cb;
    font-weight: bold;
    color: #0a0c19;
    line-height: 20px;
}
.quickMenu.show{
    display: block;
}
.quickMenu > li{
    text-align: center;
    border-bottom: 1px solid #faf9f1;
}
.quickMenu > li > a{
    display: block;
    padding: 30px 0px;
}
    
/* footer */
footer{
    width: 100%;
    background-color: #e0dad8 ;
    overflow: hidden;
}
#footerlogo > img{
    height: 60px;
    margin: 20px auto;
}
#footerInfo{
    margin: 0 auto;
    margin-bottom: 10px;
}
#footerInfo > p{
    text-align: center;
    margin-bottom: 10px;
    clear: both;
}
#footerInfo > p:last-child{
    margin-bottom: 20px;
}
#footerInfo > ul{
    text-align: center;
}
#footerInfo > ul > li{
    margin-bottom: 10px;
    
}
}

/*3. 모바일 기준 */
@media screen and (max-width:767px){
html, body{
    width: 100%;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif, monospace;
    color: #0a0c19;
    background-color: #fefefe;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0c19;
    font-family: 'Nanum Gothic', sans-serif, monospace;
}
img{
    display:  block;
}
button{
    cursor: pointer;
}
nav{
    width: 100%;
}
nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    box-shadow:4px 4px 4px rgba(0,0,0,0.2);
    z-index: 999;
}
/* main */
#mainnav{
    background-color: #d4d5cb;
    padding: 15px 0;
    position: relative;
}
#mainnav > a > img{
    height: 40px;
    margin: 0 auto;
}
#mainmenu{
    width: 100%;
    background-color: #e0dad8;
    position: absolute;
    top: 70px;
    right: 0; left: 0;
    z-index: 20;
    /* display: none; */
    
}
#mainmenu > li{
    overflow: hidden;
    float: left;
    width: 16.66%;
}
#mainmenu > li > a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
#subwrap{
    width: 100%;
    background-color: #e0dad8;
    overflow: hidden;
    position: absolute;
    top: 104px;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#subwrap > ul{
    width: 16.66%;
    text-align: center;
    float: left;
}
#subwrap.subNav{
    display: block;
}
#subwrap > ul > li > a{
    display: block;
    padding: 10px 0;
}
#subwrap > ul > li:hover > a{
    background-color: #654339;
    color: #fefefe;
}
#search2{
    display: none;
}
#search2{
    display: none;
}
/* 내용물 너비의 기준 */
#part3MainWrap{
    width: 320px;
    margin: 0 auto;
    margin-top: 36px;
}
#part3MainWrap::after{
    content: "";
    display: block;
    clear: both;
}

/* aside */
#aside{
    display: none;
}
    
/* p3section2 */
#p3Sec2{
    width: 100%;
}
#p3Sec2 > h2{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
#contens{
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid #654339;
}
#contens > h3{
    padding: 10px 7px;
    font-size: 14px;
    font-weight: bold;
}
#content1{
    width: 100%;
    border-top: 1px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    background-color: #e0dad8;
    overflow: hidden;
}
#content1 > p{
    display: block;
    width: 25%;
    list-style: none;
    float: left;
    padding: 8px 0;
}
#content1 > p > span{
    float: right;
    margin-right: 15px;
}
#content2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #a28e88;
    line-height: 23px;
    text-align: justify;
}
#content2 > h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}
#contens > button{
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 4px;
    width: 52px;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
}
/* search form */
#p3Sec2 > article{
    width: 100%;
}
#p3Sec2 > article::after{
    content: "";
    display: block;
    clear: both;
}
#search-from{
    width: 60%;
    margin: 10px auto;
}
#search-from > select{
    float: left;
    padding: 3px;
    margin-right: 5px;
    font-size: 14px;
}
#search-from input{
    float: left;
    width: 61px;
    padding: 1px 2px;
    font-size: 17px;
}
#search-from input:nth-child(3){
    background-color: #654339;
    color: #faf9f1;
    border: none;
    border-radius: 4px;
    width: 52px;
    padding: 4px 10px;
    font-size: 14px;
}
#search-from::after{
    content: "";
    display: block;
    clear: both;
}
/* notice */
#notice-table{
    width: 100%;
    line-height: 22px;
}
#notice-table > thead{
    width: 100%;
    background-color: #e0dad8;
    border-top: 2px solid #a28e88;
    border-bottom: 1px solid #a28e88;
    font-weight: 100;
}
#notice-table > thead > tr> th{
    padding: 5px;
}
#notice-table > thead > tr> th:nth-child(1){
    width: 10%;
}
#notice-table > thead > tr> th:nth-child(2){
    width: 37%;
}
#notice-table > thead > tr> th:nth-child(3){
    width: 0%;
}
#notice-table > thead > tr> th:nth-child(4){
    width: 15%;
}
#notice-table > tbody{
    width: 100%;
}
#notice-table > tbody > tr{
    border-bottom: 1px solid #a28e88;
}
#notice-table > tbody > tr > td:not(:nth-child(2)){
    padding: 5px;
    text-align: center;
}
#notice-table > tbody > tr > td:nth-child(2) > a{
    display: block;
    padding: 5px;
    width: 100%;
}

/* pagenumber */
.pages{
    width: 266px;
    margin: 20px auto;
}
.pages::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul{
    width: 100%;
    text-align: center;
}
.pages > ul::after{
    content: "";
    display: block;
    clear: both;
}
.pages > ul > li{
    float: left;
}
.pages > ul > li > a{
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
}
.pages > ul > li > a > img{
    width: 10px;
    height: 10px;
}
    
/* fixed */
#fixed{
  display: none;
}

/* footer */
footer{
    width: 100%;
    background-color: #e0dad8 ;
    overflow: hidden;
}
#footerlogo > img{
    height: 40px;
    margin: 10px auto;
}
#footerInfo{
    margin: 0 auto;
    margin-bottom: 10px;
}
#footerInfo > p{
    text-align: center;
    margin-bottom: 10px;
    clear: both;
}
#footerInfo > p:last-child{
    margin-bottom: 20px;
}
#footerInfo > ul{
    text-align: center;
    overflow: hidden;
}
#footerInfo > ul > li{
    margin-bottom: 5px;
    
}
}